<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@PhonePrice</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <nav class="navbar">
        <div id="logo">
            @PhonePrice
        </div>
    </nav>

    <div class="container">
        <div class="inner-container">
            <div class="display-container">
                <p>Model Interface</p>
                <canvas></canvas>
                <div class="prediction-container">
                    <p>Price Prediction</p>
                    {% if prediction_result is not none %}
                        <p>{{ prediction_result }}</p>
                    {% endif %}
                    <button type="button" onclick="submitForm()">
                        Predict
                    </button>
                </div>
            </div>

            <div class="param-container">
                <form method="POST" id="inputForm">
                    <div class="half-form">
                        <div class="form-group">
                            <label for="battery_power">
                                Battery Power (mAH)
                            </label>
                            <br>
                            <input type="range" 
                                   name="battery_power"
                                   id="battery_power"
                                   min="0.0"
                                   max="3000.0">
                            
                            <output for="battery_power" id="battery_output">
                                10
                            </output>
                        </div>

                        <div class="form-group">
                            <label for="clock_speed">
                                Clock Speed (GHz)
                            </label>
                            <br>
                            <input type="range" 
                                   name="clock_speed"
                                   id="clock_speed"
                                   min="0.5"
                                   max="6.0"
                                   step="0.1">
                            
                            <output for="clock_speed" id="clock_output">
                                10
                            </output>
                        </div>

                        <div class="form-group">
                            <label for="fc">
                                Front Camera (Mpx)
                            </label>
                            <br>
                            <input type="range"
                                   name="fc"
                                   id="fc"
                                   min="0"
                                   max="30">

                            <output for="fc" id="fc_output">
                                10
                            </output>
                        </div>

                        <div class="form-group">
                            <label for="pc">
                                Primary Camera (Mpx)
                            </label>
                            <br>
                            <input type="range"
                                   name="pc"
                                   id="pc"
                                   min="0"
                                   max="30">

                            <output for="pc" id="pc_output">
                                10
                            </output>
                        </div>

                        <div class="form-group">
                            <label for="int_memory">
                                Internal Memory (GB)
                            </label>
                            <br>
                            <input type="range"
                                   name="int_memory"
                                   id="int_memory"
                                   min="0"
                                   max="256">

                            <output for="int_memory" id="memory_output">
                                10
                            </output>
                        </div>

                        <div class="form-group">
                            <label for="n_cores">
                                Number of Cores
                            </label>
                            <br>
                            <input type="range"
                                   name="n_cores"
                                   id="n_cores"
                                   min="1"
                                   max="8">

                            <output for="n_cores" id="cores_output">
                                10
                            </output>
                        </div>

                        <div class="form-group">
                            <label for="ram">
                                RAM (MB)
                            </label>
                            <br>
                            <input type="range"
                                   name="ram"
                                   id="ram"
                                   min="0"
                                   max="5000">

                            <output for="ram" id="ram_output">
                                10
                            </output>
                        </div>

                        <div class="form-checkbox">
                            <label for="blue">
                                Bluetooth
                            </label>
                            <input type="checkbox"
                                   name="blue"
                                   id="blue">
                        </div>

                        <div class="form-checkbox">
                            <label for="dual_sim">
                                Dual SIM
                            </label>
                            <input type="checkbox"
                                   name="dual_sim"
                                   id="dual_sim">
                        </div>

                        <div class="form-checkbox">
                            <label for="touch_screen">
                                Touch Screen
                            </label>
                            <input type="checkbox"
                                   name="touch_screen"
                                   id="touch_screen">
                        </div>
                    </div>

                    <div class="half-form">
                        <div class="form-group">
                            <label for="m_dep">
                                Moblie Depth (cm)
                            </label>
                            <br>
                            <input type="range" 
                                   name="m_dep"
                                   id="m_dep"
                                   min="0.0"
                                   max="1.0"
                                   step="0.1">
                            
                            <output for="m_dep" id="m_dep_output">
                                10
                            </output>
                        </div>

                        <div class="form-group">
                            <label for="mobile_wt">
                                Mobile Weight
                            </label>
                            <br>
                            <input type="range" 
                                   name="mobile_wt"
                                   id="mobile_wt"
                                   min="80"
                                   max="200">
                            
                            <output for="mobile_wt" id="mobile_wt_output">
                                10
                            </output>
                        </div>

                        <div class="form-group">
                            <label for="px_height">
                                Resolution Height
                            </label>
                            <br>
                            <input type="range" 
                                   name="px_height"
                                   id="px_height"
                                   min="0"
                                   max="2000">
                            
                            <output for="px_height" id="px_height_output">
                                10
                            </output>
                        </div>

                        <div class="form-group">
                            <label for="px_width">
                                Resolution Width
                            </label>
                            <br>
                            <input type="range"
                                   name="px_width"
                                   id="px_width"
                                   min="0"
                                   max="2000">

                            <output for="px_width" id="px_width_output">
                                10
                            </output>
                        </div>

                        <div class="form-group">
                            <label for="sc_h">
                                Screen Height (cm)
                            </label>
                            <br>
                            <input type="range"
                                   name="sc_h"
                                   id="sc_h"
                                   min="0"
                                   max="24">

                            <output for="sc_h" id="sc_h_output">
                                10
                            </output>
                        </div>

                        <div class="form-group">
                            <label for="sc_w">
                                Screen Width (cm)
                            </label>
                            <br>
                            <input type="range"
                                   name="sc_w"
                                   id="sc_w"
                                   min="0"
                                   max="20">

                            <output for="sc_w" id="sc_w_output">
                                10
                            </output>
                        </div>

                        <div class="form-group">
                            <label for="talk_time">
                                Talk Time (Hrs)
                            </label>
                            <br>
                            <input type="range"
                                   name="talk_time"
                                   id="talk_time"
                                   min="0"
                                   max="20">

                            <output for="talk_time" id="talk_output">
                                10
                            </output>
                        </div>

                        <div class="form-checkbox">
                            <label for="three_g">
                                3G Support
                            </label>
                            <input type="checkbox"
                                   name="three_g"
                                   id="three_g">
                        </div>

                        <div class="form-checkbox">
                            <label for="four_g">
                                4G Support
                            </label>
                            <input type="checkbox"
                                   name="four_g"
                                   id="four_g">
                        </div>

                        <div class="form-checkbox">
                            <label for="wifi">
                                Wi-Fi
                            </label>
                            <input type="checkbox"
                                   name="wifi"
                                   id="wifi">
                        </div>
                    </div>     
                </form>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/home.js')}}"></script>
</body>
</html>